# {{ ansible_managed }}
# ansibleguy.sw_zabbix_server

[Unit]
Description=Timer to backup dockerized Zabbix Server

[Timer]
OnCalendar={{ ZBX_CONFIG.backup.timer }}
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target
