# {{ ansible_managed }}
# ansibleguy.sw_zabbix_server

[Unit]
Description=Service to backup dockerized Zabbix Server
Requires=docker.service
After=network.target
Documentation=https://github.com/ansibleguy/sw_zabbix_server
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/zabbix-server-backup.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zabbix-server-backup
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
